body {
    background:linear-gradient(160deg, #e76203 4%, black 8%);
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    body {
        background:linear-gradient(160deg, #e76203 1%, black 3%);
        background-repeat: no-repeat;
    }
}